
<div class="list-group">
  <h4>Личные данные</h4>
    <div class="list-group-item" ng-repeat="user in $ctrl.Items">
      <div class="form-group">
          <label>Имя</label>
          <span>{{user.name}}</span>
      </div>
      <div class="form-group">
          <label>Электронная почта</label>
          <span>{{user.email}}</span>
      </div>
      <div class="form-group" ng-if="user.phone">
          <label>Номер телефона</label>
          <span>{{user.phone}}</span>
      </div>
    </div>
</div>
